nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a {
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    color: transparent; /* Hacemos el color del texto transparente */
    background-image: linear-gradient(to right, rgb(56, 89, 186), rgb(123, 175, 223));  /* Difuminado de morado a azul */
    -webkit-background-clip: text; /* Para aplicar el degradado solo al texto en navegadores webkit */
    background-clip: text; /* Aplicamos el degradado solo al texto */
    text-decoration: none;
    transition: all 0.5s ease;
}

nav a:hover {
    transform: scale(2);
    color: #93cef3;
}

/* Estilos para las secciones */

section {
    margin-bottom: 20px;
    text-align: center; /* Centra los elementos de las secciones */
    margin-top: 100px; /* Para dar espacio al contenido debajo de la barra de navegación */
}

h1,h3{
    color: #effeff; /* Color del texto verde claro */
}


ul {
    list-style: none; /* Quita los puntos de lista */
    padding-left: 0; /* Elimina el relleno predeterminado del borde izquierdo */
}

li {
    margin-bottom: 10px; /* Margen inferior */
}

p {
    color: #ffffff; 
    line-height: 1.5; /* Altura de línea */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Imagenesproyecto/ima2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
}